<section class="usa-grid usa-section">

  <div class="usa-width-one-half">

    <h2 class="chart-title">Open or Closed Source</h2>

    <div class="chart-wrapper">
      <canvas class="chart" data-dataset="project-openness"></canvas>
    </div>

    <table class="chart-data" data-dataset="project-openness">
      <caption>Projects by Open or Closed Source</caption>
      <thead>
        <tr>
          <th scope="col">Source Code Type</th>
          <th scope="col">Projects</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="chart-label" scope="row">Open source</th>
          <td>
            <span class="chart-legend-color" style="background-color: #4773aa">&nbsp;</span>
            <span class="chart-value"><%= @open_source_count %></span>
            (<%= number_to_percentage(100 * @open_source_count / @project_count.to_f, precision: 2) %>)
          </td>
        </tr>
        <tr>
          <th class="chart-label" scope="row">Closed source</th>
          <td>
            <span class="chart-legend-color" style="background-color: #f9c642">&nbsp;</span>
            <span class="chart-value"><%= @closed_source_count %></span>
            (<%= number_to_percentage(100 * @closed_source_count / @project_count.to_f, precision: 2) %>)
          </td>
        </tr>
        <tr class="totals">
          <th scope="row">Total</th>
          <td><%= @project_count %></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="usa-width-one-half">

    <h2 class="chart-title">Government-wide Reuse</h2>

    <div class="chart-wrapper">
      <canvas class="chart" data-dataset="project-reuse"></canvas>
    </div>

    <table class="chart-data" data-dataset="project-reuse">
      <caption>Projects by Government-wide Reuse</caption>
      <thead>
        <tr>
          <th scope="col">Government-wide Reuse</th>
          <th scope="col">Projects</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="chart-label" scope="row">Yes</th>
          <td>
            <span class="chart-legend-color" style="background-color: #4773aa">&nbsp;</span>
            <span class="chart-value"><%= @gov_reuse_count %></span>
            (<%= number_to_percentage(100 * @gov_reuse_count / @project_count.to_f, precision: 2) %>)
          </td>
        </tr>
        <tr>
          <th class="chart-label" scope="row">No</th>
          <td>
            <span class="chart-legend-color" style="background-color: #f9c642">&nbsp;</span>
            <span class="chart-value"><%= @non_gov_reuse_count %></span>
            (<%= number_to_percentage(100 * @non_gov_reuse_count / @project_count.to_f, precision: 2) %>)
          </td>
        </tr>
        <tr class="totals">
          <th scope="row">Total</th>
          <td><%= @project_count %></td>
        </tr>
      </tbody>
    </table>

  </div>

</section>
