<section class="usa-grid usa-section">

  <h1>Dashboard</h1>

  <p>Projects: <%= @project_count %></p>
  <p>Open source: <%= @open_source_count %> (<%= number_to_percentage(100 * @open_source_count.to_f / @project_count.to_f) %>)</p>
  <p>Government wide reuse: <%= @government_wide_reuse_count %> (<%= number_to_percentage(100 * @government_wide_reuse_count.to_f / @project_count.to_f) %>)</p>

</section>
