<section class="usa-grid usa-section">

  <h1>Dashboard</h1>

  <div class="usa-width-one-half">

    <div class="chart-wrapper">
      <canvas id="project-openness-chart"></canvas>
      <div id="project-openness-legend"></div>
    </div>

    <table id="project-openness-table">
      <caption>Projects by openness</caption>
      <thead>
        <tr>
          <th scope="col">Source Code Type</th>
          <th scope="col"># Projects</th>
          <th scope="col">% Projects</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th id="open-source-label" scope="row">Open source</th>
          <td id="open-source-value"><%= @open_source_count %></td>
          <td><%= number_to_percentage(100 * @open_source_count / @project_count.to_f, precision: 2) %></td>
        </tr>
        <tr>
          <th id="closed-source-label" scope="row">Closed source</th>
          <td id="closed-source-value"><%= @closed_source_count %></td>
          <td><%= number_to_percentage(100 * @closed_source_count / @project_count.to_f, precision: 2) %></td>
        </tr>
        <tr class="totals">
          <th scope="row">Total</th>
          <td><%= @project_count %></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="usa-width-one-half">

    <div class="chart-wrapper">
      <canvas id="project-reuse-chart"></canvas>
      <div id="project-reuse-legend"></div>
    </div>

    <table id="project-reuse-table">
      <caption>Projects by government-wide reuse</caption>
      <thead>
        <tr>
          <th scope="col">Reuse Type</th>
          <th scope="col"># Projects</th>
          <th scope="col">% Projects</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th id="reuse-label" scope="row">For government-wide reuse</th>
          <td id="reuse-value"><%= @gov_reuse_count %></td>
          <td><%= number_to_percentage(100 * @gov_reuse_count / @project_count.to_f, precision: 2) %></td>
        </tr>
        <tr>
          <th id="non-reuse-label" scope="row">Not for government-wide reuse</th>
          <td id="non-reuse-value"><%= @non_gov_reuse_count %></td>
          <td><%= number_to_percentage(100 * @non_gov_reuse_count / @project_count.to_f, precision: 2) %></td>
        </tr>
        <tr class="totals">
          <th scope="row">Total</th>
          <td><%= @project_count %></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>

</section>
