<section class="usa-grid usa-section">

  <table class="usa-table-borderless">
    <thead>
      <tr>
        <th>Project</th>
        <th>Open source?</th>
        <th>Government-wide reuse?</th>
        <th>Organization</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>
            <div><%= project.name %></div>
            <div class="project-table-description">
              <small><%= project.description %></small>
            </div>
            <div>
              <span class="usa-sr-only">Tags:</span>
              <% project.tags.each do |tag| %>
                <span class="usa-label"><%= tag.name %></span>
              <% end %>
            </div>
          </td>
          <td>
            <%= project.open_source == Project::OPEN_SOURCE ? "Yes" : "No" %>
          </td>
          <td>
            <%= project.government_wide_reuse == Project::GOVERNMENT_WIDE_REUSE ? "Yes" : "No" %>
          </td>
          <td>
            <%= project.organization %>
          </td>
          <td>
            <% if project.repository %>
              <div><%= link_to "Repository", project.repository %></div>
            <% end %>
            <% if project.license %>
              <div><%= link_to "License", project.license %></div>
            <% end %>
            <div><%= mail_to project.contact_email, "Contact email" %></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>
